.u-block-294a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-294a-3 {
  position: absolute;
  left: 0;
}

.u-block-294a-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 397px;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/3487.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 28px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: url("images/big-742b52a5e89568dd813531fc63897836.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 28px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: url("images/nepal-village.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 28px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-4 {
  background-image: url("images/debac4310e06092a2c380995d400725907f0bef4e64503a902376876c2afc652e09d6752b04aa39dd9927c8147c6b2f2cb19aaabdab5497ddbe009_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1-4 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 28px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-1-5 {
  background-image: url("images/618a6037dd907ba55e8c7570e81c060e42eba70a378a3e8091f55ce31202218cc542d759eb5ccd9b520ffb537ec22451587275400329f4a9593429_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1-5 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 28px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1-5 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1-5 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-5 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-2 .u-text-1 {
  margin: 58px 204px 0 149px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/135878698-01.jpeg");
  min-height: 624px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 378px 10px 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/50ec71e069312c37d1a28954c96d20e6bdf5394062e508ded57e4bccc523e53fb0565a51f29bd5060451bb6f1eb46b29db28551be6179329e1dcac_1280.jpg");
  min-height: 624px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 0 10px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/a562bd69b35545171d65cc10aadd7fb485ca578fc449d7f85281dc275546b593a5b6457f708bf419ec29ff662921f8d119c129417dbfb93c7b03dc_1280.jpg");
  min-height: 624px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 450px -6px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 104px;
    margin-left: 49px;
  }

  .u-section-2 .u-image-1 {
    min-height: 514px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 514px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 514px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 394px;
  }

  .u-section-2 .u-image-2 {
    min-height: 215px;
  }

  .u-section-2 .u-image-3 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-2 .u-image-1 {
    min-height: 296px;
  }

  .u-section-2 .u-image-2 {
    min-height: 484px;
  }

  .u-section-2 .u-image-3 {
    min-height: 591px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-image-1 {
    min-height: 186px;
  }

  .u-section-2 .u-image-2 {
    min-height: 305px;
  }

  .u-section-2 .u-image-3 {
    min-height: 372px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 349px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/123163827_666482484014572_5390025524680426939_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 43px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1209px;
}

.u-section-4 .u-image-1 {
  object-position: 50% 0%;
  height: 887px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: -579px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 56px auto 56px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  margin: 0;
}

.u-section-4 .u-label-1 {
  font-weight: 700;
}

.u-section-4 .u-label-2 {
  font-weight: 700;
}

.u-section-4 .u-label-3 {
  font-weight: 700;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-label-4 {
  font-weight: 700;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 28px 30px 30px;
}

.u-section-4 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  width: 497px;
  height: 331px;
  margin: 30px 15px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1115px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: -580px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    min-height: 205px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-4 .u-image-2 {
    width: 412px;
    height: 275px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1440px;
  }

  .u-section-4 .u-image-1 {
    height: 774px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 528px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 80px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    width: 302px;
    height: 202px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 871px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2370px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 50px;
    margin-bottom: 29px;
  }
}